@namespace TablerForNet.Components
@inherits TabBase

<li class="nav-item @(IsRight ? "ms-auto" : "")">
    <a @onclick=Activate class="nav-link cursor-pointer @(IsDisabled ? "disabled" : IsActive)" data-toggle="tab" style="cursor: @(IsDisabled ? "not-allowed" : "pointer");">
        @if (Header != null)
        {
            @Header
        }
        else
        {
            @Title
        }
    </a>
</li>

@code {

    [CascadingParameter] Tabs? ContainerTabSet { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public bool IsRight { get; set; } = false;
    [Parameter] public bool IsDisabled { get; set; } = false;


    string IsActive => ContainerTabSet?.ActiveTab == this ? "active" : "";

    protected override void OnInitialized()
    {
        ContainerTabSet?.AddTab(this);
    }

    public void Dispose()
    {
        ContainerTabSet?.RemoveTab(this);
    }

    void Activate()
    {
        if (IsDisabled)
        {
            return;
        }
        ContainerTabSet?.SetActivateTab(this);
        OnClick.InvokeAsync();
    }
}