@namespace TablerForNet.Components
@inherits TabBase

<div class="card">
    <CascadingValue Value="@this">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs @(FullWidthTabs ? "nav-fill": "") @(GetAlignmentClass())" data-toggle="tabs">
                @ChildContent
            </ul>
        </div>
    </CascadingValue>

    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show">
                <div> @ActiveTab?.ChildContent</div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public bool FullWidthTabs { get; set; } = false;
    [Parameter] public TabAlignment Alignment { get; set; } = TabAlignment.Left;
    public Tab? ActiveTab { get; private set; }

    public async Task AddTab(Tab tab)
    {
        if (ActiveTab == null)
        {
            await SetActivateTab(tab);
        }
    }

    public async Task RemoveTab(Tab tab)
    {
        if (ActiveTab == tab)
        {
            await SetActivateTab(null);
        }
    }

    public async Task SetActivateTab(Tab? tab)
    {
        if (tab == null)
        {
            ActiveTab = null;
            await InvokeAsync(StateHasChanged);
            return;
        }

        if (ActiveTab != tab)
        {
            ActiveTab = tab;
            await InvokeAsync(StateHasChanged);
        }
    }

    // Rest of your existing code

    private string GetAlignmentClass()
    {
        return Alignment switch
        {
            TabAlignment.Left => "",
            TabAlignment.Right => "justify-content-end",
            TabAlignment.Center => "justify-content-center",
            _ => ""
        };
    }
}
