@namespace TablerForNet.Components
@inherits TablerBaseComponent

<div class="navbar-collapse @(!isExpanded ? "collapse":"")">
  
        <ul class="navbar-nav">
            @ChildContent
        </ul>
</div>

@code{
    [CascadingParameter(Name = "Navbar")] Navbar Navbar { get; set; }

    private bool isExpanded => Navbar.IsExpanded;

    public void ToogleExpanded()
    {

        Navbar?.ToogleExpand();
    }
}