@namespace TablerForNet.Components
@inherits Navbar

<div class="navbar-collapse @GetNavbarCollapseClass()">
  
        <div class="navbar-nav">
            @ChildContent
        </div>
</div>

@code{

    [CascadingParameter(Name = "Navbar")] Navbar? Navbar { get; set; }

    private string GetNavbarCollapseClass()
    {
        if (Navbar == null) return string.Empty;
        return Navbar.IsExpanded ? string.Empty : "collapse";
    }
}