@typeparam TValue

@inherits TablerBaseComponent

@if (!string.IsNullOrWhiteSpace(Label))
{
    <label class="form-label">@Label</label>
}
<input type="text" class="@ClassNames" @bind="CurrentValue" @bind:event="oninput" />


