@namespace TablerForNet.Components
@inherits TablerBaseComponent

@if (Active)
{
    <HtmlElement Tag="div"
                 class="@ClassNames"
    @onclick="OnClick"
    @attributes="@UnmatchedParameters">

        @if (ShowSpinner)
        {
            <div class="loader"></div>
        }

        <div class="dimmer-content" @onclick:stopPropagation @onclick:preventDefault>
            @ChildContent
        </div>
    </HtmlElement>
}
else
{
    @ChildContent
}

@code {
    [Parameter] public bool Active { get; set; }
    [Parameter] public bool ShowSpinner { get; set; } = true;

    protected override string ClassNames => ClassBuilder
      .Add("dimmer")
      .AddIf("active", Active)
      .ToString();
}


