@namespace TablerForNet.Components
@inherits TablerBaseComponent

<HtmlElement Tag="span"
             class="@ClassNames"
             @onclick="OnClick"
             @attributes="@UnmatchedParameters">

    <span class="status-indicator-circle"></span>
    <span class="status-indicator-circle"></span>
    <span class="status-indicator-circle"></span>

</HtmlElement>

@code{
    [Parameter] public bool Animate { get; set; }


    protected override string ClassNames => ClassBuilder
        .Add("status-indicator")
        .Add(BackgroundColor.GetColorClass("status", ColorType.Default))
        .AddIf("status-indicator-animated", Animate)
        .AddIf("cursor-pointer", OnClick.HasDelegate)
        .ToString();
}