.tooltip-wrapper {
    position: relative;
    display: inline-block;
    cursor: help;
    z-index: 1000000000000;
}

    .tooltip-wrapper .tooltip-content {
        visibility: hidden;
        position: absolute;
        bottom: 120%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #1a2234;
        border: 1px solid;
        border-bottom-width: 1px;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 7px;
        z-index: 1000000000000;
    }

        .tooltip-wrapper .tooltip-content::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 5px;
            border-style: solid;
            border-color: white transparent transparent transparent;
        }

        .tooltip-wrapper .tooltip-content.tooltip-small {
            min-width: 120px;
        }

        .tooltip-wrapper .tooltip-content.tooltip-medium {
            min-width: 150px;
        }

        .tooltip-wrapper .tooltip-content.tooltip-large {
            min-width: 200px;
        }

        .tooltip-wrapper .tooltip-content.tooltip-auto {
            min-width: auto;
        }

    .tooltip-wrapper:hover .tooltip-content {
        visibility: visible;
    }
