@namespace TablerForNet.Components
@inherits TablerBaseComponent

@if (!dismissed)
{
    <HtmlElement Tag="div"
                 class="@ClassNames"
    @onclick="OnClick"
    @attributes="@UnmatchedParameters">

        @if (Dismissible)
        {
            <button data-dismiss="alert" class="btn-close" @onclick="DismissAlert" />
        }

        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <h4 class="alert-title">@Title</h4>
        }

        @ChildContent
    </HtmlElement>
}

@code {

    [Parameter] public string Title { get; set; }
    [Parameter] public bool Dismissible { get; set; }
    [Parameter] public bool Important { get; set; }
    private bool dismissed;

    protected override string ClassNames => ClassBuilder
        .Add("alert")
        .Add(BackgroundColor.GetColorClass("alert"))
        .Add(TextColor.GetColorClass("text"))
        .AddIf("alert-dismissible", Dismissible)
        .AddIf("alert-important", Important)
        .ToString();

    protected void DismissAlert()
    {
        dismissed = true;
    }
}